doctype
html
  head(lang="en")
    meta(charset="UTF-8")
    link(ref="stylesheet", href="components/angular-material/default-theme.css")
    link(rel="stylesheet", href="styles/style.css")
  
  body
    p Hello
    
  include dependencies.jade
